<h1>Classifieds for <%= @category.name %></h1>

<ul>
  <% @category.classifieds.each do |classified| %>
    <li><%= link_to classified.title, classified_path(classified), class: 'classified_link' %></li>
  <% end %>
</ul>
